// main
$c_main1: #34495e;
$c_main2: #ddd3d3;

// assist

$c_icon: #5d5a58;
$c_white: #ffffff;

// text
$c_article_title: #2e2e2e;
$c_normal_text: #5d5a58;

// categories
$c_html: #d3756b;
$c_css: #65a1c9;
$c_js: #e8d674;
$c_tools: #e0b07e;
$c_others: #8db4ac;
